.wrapper {
    display: grid;
    max-width: 1000px;
    @include center;


    @include mq_tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq_pc {
        grid-template-columns: repeat(3, 1fr);
    }
}



